sbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1em;
  }
  
  h1 {
    text-align: center;
  }
  
  #recipeList {
    margin-bottom: 2em;
  }
  
  #addRecipe,
  #recipeDetail,
  #updateRecipe {
    margin-bottom: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  
  form label {
    margin-bottom: 0.5em;
  }
  
  form textarea {
    height: 100px;
  }
  
  form input[type="text"],
  form textarea {
    padding: 0.5em;
  }
  
  form button[type="submit"] {
    margin-top: 1em;
    padding: 0.5em 1em;
  }
  
  #recipe-list {
    list-style-type: none;
    padding: 0;
  }
  
  #recipe-list li {
    cursor: pointer;
    padding: 0.5em;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 0.5em;
  }
  
  #recipe-list li:hover {
    background-color: #e9e9e9;
  }
  
  #recipeDetail {
    display: none;
  }
  
  #deleteRecipeBtn {
    display: none;
  }
  